.App {
  text-align: left;
  position: fixed;
}
@media (min-width: 768px) {
  .button-outline{
    position: fixed;
  }
}




.error{
  color: red;
  font-size: 10px;
  text-align: left;
  margin: 2px;

}
.correct{
  color: green;
  font-size: 14px;
  text-align: left;
  margin: 2px;

}
.button-outline{
  position: fixed;
  top: 1rem;
  right: 1rem;
}
