.App {
  text-align: left;
}

.error{
  color: red;
  font-size: 14px;
  text-align: left;
  margin: 2px;

}
.correct{
  color: green;
  font-size: 14px;
  text-align: left;
  margin: 2px;

}
.email-input{
  width: 300px;
  padding: 8px;
  font-size: 16px
}
.save-button-email{
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

